In [24]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [8]:
df = pd.read_csv('correct_twitter_202102.tsv',sep='\t')
df.head()

C:\Users\abhir\AppData\Local\Temp\ipykernel_8708\3178179834.py:1: DtypeWarning: Columns (0,4,5,7,8,9,10,11,12,13,20,29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('correct_twitter_202102.tsv',sep='\t')

,id,event,ts1,ts2,from_stream,directly_from_stream,from_search,directly_from_search,from_quote_search,directly_from_quote_search,...,retweeted,retweeted_author_id,retweeted_handle,retweeted_follower_count,mentioned_author_ids,mentioned_handles,hashtags,urls,media_keys,place_id
0,1358322479136178177,britney_202102,2022-03-01 09:06:52.403595-05:00,2022-03-01 09:06:52.403595-05:00,True,True,False,False,False,False,...,1.358249e+18,9.325937e+07,briebxrries,1002.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1358323016736796677,britney_202102,2022-01-05 08:34:04.477789-05:00,2022-03-01 09:06:52.398778-05:00,True,True,False,False,False,False,...,1.358189e+18,1.752517e+07,Variety,2669599.0,NaN,NaN,['FreeBritney'],NaN,NaN,NaN
2,1358322996696465409,britney_202102,2022-03-01 09:06:52.399008-05:00,2022-03-01 09:06:52.399008-05:00,True,True,False,False,False,False,...,1.358201e+18,4.035766e+08,Johnnerkell,2650.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1358322976769286151,britney_202102,2022-03-01 09:06:52.399205-05:00,2022-03-01 09:06:52.399205-05:00,True,True,False,False,False,False,...,1.358238e+18,4.429004e+09,PopCrave,880695.0,NaN,NaN,['FramingBritney'],NaN,NaN,NaN
4,1368923802260889606,britney_202102,2022-03-01 07:26:05.505986-05:00,2022-03-01 07:26:05.505986-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 845730 entries, 0 to 845729
Data columns (total 46 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   id                             845730 non-null  object
 1   event                          845730 non-null  object
 2   ts1                            845730 non-null  object
 3    ts2                           845730 non-null  object
 4   from_stream                    845730 non-null  object
 5   directly_from_stream           845730 non-null  object
 6   from_search                    845730 non-null  bool
 7   directly_from_search           845730 non-null  object
 8   from_quote_search              845730 non-null  object
 9   directly_from_quote_search     845730 non-null  object
 10  from_convo_search              845730 non-null  object
 11  directly_from_convo_search     845730 non-null  object
 12  from_timeline_search           845730 non-null  object
 13  directly_from_timeline_search  845730 non-null  object
 14  text                           845727 non-null  object
 15  lang                           842719 non-null  object
 16  author_id                      842718 non-null  float64
 17  author_handle                  842718 non-null  object
 18  created_at                     842718 non-null  object
 19  conversation_id                842718 non-null  float64
 20  possibly_sensitive             842718 non-null  object
 21  reply_settings                 842718 non-null  object
 22  source                         842718 non-null  object
 23  author_follower_count          842718 non-null  float64
 24  retweet_count                  842718 non-null  float64
 25  reply_count                    842718 non-null  float64
 26  like_count                     842718 non-null  float64
 27  quote_count                    842718 non-null  float64
 28  replied_to                     48315 non-null   float64
 29  replied_to_author_id           29583 non-null   object
 30  replied_to_handle              27738 non-null   object
 31  replied_to_follower_count      29580 non-null   float64
 32  quoted                         11196 non-null   float64
 33  quoted_author_id               9309 non-null    float64
 34  quoted_handle                  8316 non-null    object
 35  quoted_follower_count          9309 non-null    float64
 36  retweeted                      632636 non-null  float64
 37  retweeted_author_id            632636 non-null  float64
 38  retweeted_handle               632636 non-null  object
 39  retweeted_follower_count       632636 non-null  float64
 40  mentioned_author_ids           0 non-null       float64
 41  mentioned_handles              0 non-null       float64
 42  hashtags                       100757 non-null  object
 43  urls                           342198 non-null  object
 44  media_keys                     212718 non-null  object
 45  place_id                       4033 non-null    object
dtypes: bool(1), float64(17), object(28)
memory usage: 291.2+ MB

In [18]:
df.isnull().sum()

id                                    0
event                                 0
ts1                                   0
 ts2                                  0
from_stream                           0
directly_from_stream                  0
from_search                           0
directly_from_search                  0
from_quote_search                     0
directly_from_quote_search            0
from_convo_search                     0
directly_from_convo_search            0
from_timeline_search                  0
directly_from_timeline_search         0
text                                  3
lang                               3011
author_id                          3012
author_handle                      3012
created_at                         3012
conversation_id                    3012
possibly_sensitive                 3012
reply_settings                     3012
source                             3012
author_follower_count              3012
retweet_count                      3012
reply_count                        3012
like_count                         3012
quote_count                        3012
replied_to                       797415
replied_to_author_id             816147
replied_to_handle                817992
replied_to_follower_count        816150
quoted                           834534
quoted_author_id                 836421
quoted_handle                    837414
quoted_follower_count            836421
retweeted                        213094
retweeted_author_id              213094
retweeted_handle                 213094
retweeted_follower_count         213094
mentioned_author_ids             845730
mentioned_handles                845730
hashtags                         744973
urls                             503532
media_keys                       633012
place_id                         841697
dtype: int64

In [20]:
df.describe()

,author_id,conversation_id,author_follower_count,retweet_count,reply_count,like_count,quote_count,replied_to,replied_to_follower_count,quoted,quoted_author_id,quoted_follower_count,retweeted,retweeted_author_id,retweeted_follower_count,mentioned_author_ids,mentioned_handles
count,8.427180e+05,8.427180e+05,8.427180e+05,842718.000000,842718.000000,8.427180e+05,842718.000000,4.831500e+04,2.958000e+04,1.119600e+04,9.309000e+03,9.309000e+03,6.326360e+05,6.326360e+05,6.326360e+05,0.0,0.0
mean,4.485312e+17,1.361256e+18,3.512069e+04,5131.003708,6.753562,1.267377e+02,6.110735,1.360149e+18,1.128795e+06,1.353059e+18,4.134273e+17,2.150829e+06,1.359588e+18,4.218596e+17,1.760802e+06,NaN,NaN
std,5.534232e+17,9.692204e+15,8.581543e+05,13196.765737,501.819952,6.294110e+03,336.081434,2.466743e+16,6.620013e+06,7.303527e+16,5.574523e+17,9.041503e+06,2.848347e+16,5.805686e+17,7.047387e+06,NaN,NaN
min,7.620000e+02,1.317056e+09,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,1.317056e+09,0.000000e+00,6.543700e+04,4.013000e+03,0.000000e+00,5.557672e+06,7.670000e+02,0.000000e+00,NaN,NaN
25%,2.600190e+08,1.358203e+18,1.810000e+02,3.000000,0.000000,0.000000e+00,0.000000,1.356965e+18,5.110000e+02,1.355963e+18,7.458044e+07,1.606000e+03,1.358100e+18,2.126962e+07,2.643000e+03,NaN,NaN
50%,2.654599e+09,1.360221e+18,4.980000e+02,210.000000,0.000000,0.000000e+00,0.000000,1.360076e+18,2.216000e+03,1.359643e+18,1.703321e+09,9.760000e+03,1.360003e+18,3.829414e+08,1.149900e+04,NaN,NaN
75%,1.052283e+18,1.365381e+18,1.331000e+03,2236.000000,0.000000,0.000000e+00,0.000000,1.366834e+18,2.861100e+04,1.365802e+18,1.087548e+18,2.604080e+05,1.364939e+18,1.145682e+18,3.126550e+05,NaN,NaN
max,1.376950e+18,1.377048e+18,1.310843e+08,661268.000000,218999.000000,2.515969e+06,129803.000000,1.377048e+18,1.310843e+08,1.377044e+18,1.374530e+18,1.143093e+08,1.377046e+18,1.375874e+18,1.051175e+08,NaN,NaN

In [26]:
def search_term_analysis_v2(df, term):
    # Filter the tweets containing the term (case insensitive)
    filtered_df = df[df['text'].str.contains(term, case=False, na=False)]

    # Convert 'created_at' to datetime if it's not already
    filtered_df['created_at'] = pd.to_datetime(filtered_df['created_at'], errors='coerce')

    # Handle the case where no tweets contain the term
    if filtered_df.empty:
        return {
            'tweets_per_day': "No tweets found",
            'unique_users': 0,
            'avg_likes': 0,
            'tweet_locations': "No locations found",
            'tweets_per_hour': "No data available",
            'top_user': "No user found"
        }

    # 1. Number of tweets per day
    filtered_df['date'] = filtered_df['created_at'].dt.date
    tweets_per_day = filtered_df.groupby('date').size()

    # 2. Number of unique users who posted tweets containing the term
    unique_users = filtered_df['author_id'].nunique()

    # 3. Average likes for tweets containing the term
    avg_likes = filtered_df['like_count'].mean()

    # 4. Location (place_id) of tweets
    tweet_locations = filtered_df['place_id'].value_counts()

    # 5. Time of day tweets were posted
    filtered_df['hour'] = filtered_df['created_at'].dt.hour
    tweets_per_hour = filtered_df.groupby('hour').size()

    # 6. User who posted the most tweets containing the term
    top_user = filtered_df['author_handle'].value_counts().idxmax()

    return {
        'tweets_per_day': tweets_per_day.to_dict(),
        'unique_users': unique_users,
        'avg_likes': avg_likes,
        'tweet_locations': tweet_locations.to_dict(),
        'tweets_per_hour': tweets_per_hour.to_dict(),
        'top_user': top_user
    }

# Example call with a term (e.g., 'music')
results_v2 = search_term_analysis_v2(df, 'music')
results_v2

{'tweets_per_day': {datetime.date(2021, 1, 1): 77,
  datetime.date(2021, 1, 2): 205,
  datetime.date(2021, 1, 3): 134,
  datetime.date(2021, 1, 4): 74,
  datetime.date(2021, 1, 5): 98,
  datetime.date(2021, 1, 6): 56,
  datetime.date(2021, 1, 7): 52,
  datetime.date(2021, 1, 8): 169,
  datetime.date(2021, 1, 9): 148,
  datetime.date(2021, 1, 10): 74,
  datetime.date(2021, 1, 11): 51,
  datetime.date(2021, 1, 12): 107,
  datetime.date(2021, 1, 13): 175,
  datetime.date(2021, 1, 14): 71,
  datetime.date(2021, 1, 15): 170,
  datetime.date(2021, 1, 16): 125,
  datetime.date(2021, 1, 17): 67,
  datetime.date(2021, 1, 18): 56,
  datetime.date(2021, 1, 19): 46,
  datetime.date(2021, 1, 20): 68,
  datetime.date(2021, 1, 21): 202,
  datetime.date(2021, 1, 22): 362,
  datetime.date(2021, 1, 23): 207,
  datetime.date(2021, 1, 24): 116,
  datetime.date(2021, 1, 25): 229,
  datetime.date(2021, 1, 26): 114,
  datetime.date(2021, 1, 27): 125,
  datetime.date(2021, 1, 28): 211,
  datetime.date(2021, 1, 29): 105,
  datetime.date(2021, 1, 30): 107,
  datetime.date(2021, 1, 31): 68,
  datetime.date(2021, 2, 1): 136,
  datetime.date(2021, 2, 2): 113,
  datetime.date(2021, 2, 3): 58,
  datetime.date(2021, 2, 4): 105,
  datetime.date(2021, 2, 5): 263,
  datetime.date(2021, 2, 6): 346,
  datetime.date(2021, 2, 7): 3133,
  datetime.date(2021, 2, 8): 1557,
  datetime.date(2021, 2, 9): 2350,
  datetime.date(2021, 2, 10): 671,
  datetime.date(2021, 2, 11): 634,
  datetime.date(2021, 2, 12): 840,
  datetime.date(2021, 2, 13): 534,
  datetime.date(2021, 2, 14): 504,
  datetime.date(2021, 2, 15): 158,
  datetime.date(2021, 2, 16): 197,
  datetime.date(2021, 2, 17): 161,
  datetime.date(2021, 2, 18): 144,
  datetime.date(2021, 2, 19): 279,
  datetime.date(2021, 2, 20): 140,
  datetime.date(2021, 2, 21): 97,
  datetime.date(2021, 2, 22): 91,
  datetime.date(2021, 2, 23): 191,
  datetime.date(2021, 2, 24): 164,
  datetime.date(2021, 2, 25): 147,
  datetime.date(2021, 2, 26): 111,
  datetime.date(2021, 2, 27): 126,
  datetime.date(2021, 2, 28): 97,
  datetime.date(2021, 3, 1): 101,
  datetime.date(2021, 3, 2): 125,
  datetime.date(2021, 3, 3): 815,
  datetime.date(2021, 3, 4): 1344,
  datetime.date(2021, 3, 5): 2309,
  datetime.date(2021, 3, 6): 271,
  datetime.date(2021, 3, 7): 427,
  datetime.date(2021, 3, 8): 327,
  datetime.date(2021, 3, 9): 174,
  datetime.date(2021, 3, 10): 162,
  datetime.date(2021, 3, 11): 1006,
  datetime.date(2021, 3, 12): 3860,
  datetime.date(2021, 3, 13): 240,
  datetime.date(2021, 3, 14): 15},
 'unique_users': 25387,
 'avg_likes': 94.60667278849097,
 'tweet_locations': {'5a110d312052166f': 4,
  '3b77caf94bfc81fe': 4,
  'a84b808ce3f11719': 2,
  'a612c69b44b2e5da': 2,
  '5c62ffb0f0f3479d': 2,
  '011add077f4d2da3': 2,
  'fbd6d2f5a4e4a15e': 2,
  'b49b3053b5c25bf5': 2,
  '48ad377ff2ff9e51': 2,
  '0a7dc9891a02c366': 2,
  '002e24c6736f069d': 2,
  'e4a0d228eb6be76b': 2,
  '0112bdb03ace5ee9': 1,
  'd13775d10c08f835': 1,
  'fa8e38be72982a5a': 1,
  '3b98b02fba3f9753': 1,
  '4393349f368f67a1': 1,
  '1df98ab7679917e7': 1,
  'c8022ca5114d7ea9': 1,
  '7dea5f8c907d1ea2': 1,
  '02f09c87dcbecdb5': 1,
  'efb544e303ed138c': 1,
  '8004d2bebcc13e8c': 1,
  '62619a76134ad05e': 1,
  '1d9a5370a355ab0c': 1,
  '70392b0b6ad1f95b': 1,
  '1ef1183ed7056dc1': 1,
  'c355c3620352b971': 1,
  '68482982f9baf37a': 1,
  '174309ec90de94d0': 1,
  'b2e39072b9847c46': 1,
  '01864a8a64df9dc4': 1,
  '005de1fe214f002d': 1,
  'ad815dfe8c34a012': 1,
  '5722ff20ba67083b': 1,
  'd2981a0f3d8eddd7': 1,
  '01a9a39529b27f36': 1,
  '01fbe706f872cb32': 1,
  'dce44ec49eb788f5': 1,
  '5f73d127c7ccf9d9': 1,
  'f5b2e1c998aab0b5': 1,
  '6e276f099bcab5b5': 1,
  '9807c5c5f7a2c6ce': 1,
  '3f871475c095f94f': 1,
  '016ea1445db12efb': 1,
  '75965f8c6ee9a4b0': 1,
  '5c2b5e46ab891f07': 1,
  '19ad277db0586bb7': 1,
  'a592bd6ceb1319f7': 1,
  'c184b698ed4cd4fc': 1,
  '92e012db736d72c5': 1,
  '0973e42f69d07b84': 1,
  '25ddf20e1bfb00ea': 1,
  '8173485c72e78ca5': 1,
  '3448f4f82d2187bc': 1,
  '011a05612b6a331c': 1,
  'fbcefe96d630085b': 1,
  '67687709552688fe': 1,
  '4dad272dba156a02': 1,
  '7cb7440bcf83d464': 1,
  '9c1c0a45346f5837': 1,
  'e81d7291bd2ba45e': 1,
  'ea679934779f45c7': 1,
  '4ec01c9dbc693497': 1,
  'fa3435044b52ecc7': 1,
  '00dba980404fa58a': 1,
  '2335250557ea3fb4': 1,
  '300bcc6e23a88361': 1,
  'c0b8e8dc81930292': 1,
  '5d058f2e9fe1516c': 1,
  '38d5974e82ed1a6c': 1,
  '59612bd882018c51': 1,
  'dc234665a759a05d': 1,
  '7dde0febc9ef245b': 1,
  'dd3b100831dd1763': 1,
  '0509a6acb3d27ec4': 1,
  '53504716d445dcad': 1},
 'tweets_per_hour': {0.0: 911,
  1.0: 701,
  2.0: 583,
  3.0: 1059,
  4.0: 898,
  5.0: 710,
  6.0: 809,
  7.0: 938,
  8.0: 1019,
  9.0: 1082,
  10.0: 1554,
  11.0: 1649,
  12.0: 1544,
  13.0: 1323,
  14.0: 1205,
  15.0: 1518,
  16.0: 1495,
  17.0: 1792,
  18.0: 1543,
  19.0: 1377,
  20.0: 1293,
  21.0: 1246,
  22.0: 1097,
  23.0: 1046},
 'top_user': 'freqnetwork'}

In [30]:
from flask import Flask, request, jsonify
import pandas as pd

app = Flask(__name__)

# Load data (adjust path if needed)
data = pd.read_csv('correct_twitter_202102.tsv', sep='\t')

# Function to search for a term and generate aggregate results
def search_term_analysis(df, term):
    filtered_df = df[df['text'].str.contains(term, case=False, na=False)]
    if filtered_df.empty:
        return {
            'tweets_per_day': "No tweets found",
            'unique_users': 0,
            'avg_likes': 0,
            'tweet_locations': "No locations found",
            'tweets_per_hour': "No data available",
            'top_user': "No user found"
        }

    filtered_df['date'] = pd.to_datetime(filtered_df['created_at']).dt.date
    tweets_per_day = filtered_df.groupby('date').size()
    unique_users = filtered_df['author_id'].nunique()
    avg_likes = filtered_df['like_count'].mean()
    tweet_locations = filtered_df['place_id'].value_counts()
    filtered_df['hour'] = pd.to_datetime(filtered_df['created_at']).dt.hour
    tweets_per_hour = filtered_df.groupby('hour').size()
    top_user = filtered_df['author_handle'].value_counts().idxmax()

    return {
        'tweets_per_day': tweets_per_day.to_dict(),
        'unique_users': unique_users,
        'avg_likes': avg_likes,
        'tweet_locations': tweet_locations.to_dict(),
        'tweets_per_hour': tweets_per_hour.to_dict(),
        'top_user': top_user
    }

# API endpoint to handle search queries
@app.route('/search', methods=['GET'])
def search():
    term = request.args.get('term', '')
    if not term:
        return jsonify({'error': 'No search term provided'}), 400

    results = search_term_analysis(data, term)
    return jsonify(results)

if __name__ == '__main__':
    app.run(host='0.0.0.0', port=5000)

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on all addresses (0.0.0.0)
 * Running on http://127.0.0.1:5000
 * Running on http://192.168.43.75:5000
Press CTRL+C to quit
192.168.43.75 - - [26/Sep/2024 15:08:30] "GET / HTTP/1.1" 404 -
192.168.43.75 - - [26/Sep/2024 15:08:30] "GET /favicon.ico HTTP/1.1" 404 -
127.0.0.1 - - [26/Sep/2024 15:08:37] "GET / HTTP/1.1" 404 -
127.0.0.1 - - [26/Sep/2024 15:08:37] "GET /favicon.ico HTTP/1.1" 404 -